[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
"iso8601" = "*"
gunicorn = "*"
flask-caching = "*"
flask-heroku-cacheify = {git = "https://github.com/Ogreman/flask-heroku-cacheify", editable = true}

[dev-packages]

[requires]
python_version = "3.7"
